{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2 class="text-center">Главная</h2>
<p class="text-center">Вы находитесь на сайте, предназначенном для продажи товаров.</p>

<div class="row mt-4 gap-5 justify-content-center">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-header">{{ product.name }}</div>
            <div class="card-body">
                <h3>{{ product.price }} ₽</h3>
                <p>{{ product.description|truncatechars:50 }}</p>
                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-outline-primary">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
