{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h2 class="text-center">Свяжитесь с нами</h2>
<div class="row mt-5 justify-content-center">
    <div class="col-md-5">
        <div class="p-3 border rounded" style="background-color: #f8f9fa;">
            <form method="post" action="/contacts/" class="form-floating">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="name" placeholder="Ваше имя" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Почта</label>
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        <input type="email" class="form-control" id="email" placeholder="Ваша почта" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Сообщение</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Пару слов туда-сюда"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div class="p-3 border rounded ms-md-4" style="background-color: #f8f9fa;">
            <h4>Наши контакты</h4>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr><td class="w-25">Страна</td><td>Россия</td></tr>
                            <tr><td class="w-25">ИНН</td><td>99-9999999</td></tr>
                            <tr><td class="w-25">Адрес</td><td>Москва, ул. Пушкина, д. Колотушкина</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}
